:root {
    --text-color: #000000;
    --inverted-text-color: #FFFFFF;
    --background-color: #FFFFFF;
    ---inverted-background-color: #000000;
    --primary-color: #FFF200;
    --error-color: #ec4d4d;
    --primary: 0, 102, 255;
    --textColor: 47, 56, 94;
    --body: 241, 243, 248;
    --background: 255, 255, 255;
    --invalid: 219, 13, 0;
    --baseGradient: linear-gradient(77.9deg, #0066ff -3.83%, #2ce0c5 110.36%)
}
